version: '3.9'
services:
  db:
    image: postgres:16-alpine
    container_name: sbo-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: sbo
      POSTGRES_PASSWORD: sbo
      POSTGRES_DB: sbo
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: sbo-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  db_data: